@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  box-shadow: 0 2px 3px #1f1a24;
}
.home .title {
  text-shadow: 3px 3px 2px rgba(114, 95, 132, 1);
}

.menu {
  display: flex;
  gap: 10px;
  transition: opacity 0.3s;
}

.open-menu,
.close-menu {
  display: none;
}
/* Overlay */
a i:hover {
  transform: scale(1.5);
}
.overlay {
  background: #1f1a24;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.certificate-container-img:hover .overlay,
.proyect-container-img:hover .overlay {
  opacity: 0.6;
}
.proyectos,
.certificados,
.sitios,
.hobbies,
.home,
.about {
  width: 100%;
  max-width: 1280px;
}
/* .observer-root-margin {
  pointer-events: none;
  z-index: 1000;
  border: 2px solid blue;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 70%;
} */
.certificate-container-img img {
  border: 1px solid #725f84;
}
/* Form alerts */
.input-container--invalid .input-form {
  border: 1px solid #d21502;
}
.input-message-alert {
  font-size: x-small;
  color: #d21502;
}
.astro::before {
  content: '';
  background: url('../img/astro.png') no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 40px;
}
@media (max-width: 480px) {
  header {
    position: fixed;
  }
  .navbar {
    justify-content: space-between;
  }
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: #1f1a24;
    color: white;
    height: 100%;

    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
  }
  .menu-opened {
    opacity: 1;
    pointer-events: all;
  }
  .open-menu,
  .close-menu {
    display: block;
    color: white;
    cursor: pointer;
  }
  .close-menu {
    align-self: flex-end;
    padding: 21px 23px;
  }
}
